@media only screen and (min-width: 608px) {
   /*----------- ALL --------------*/


/*----------- HEADER --------------*/
header {
    background-color: #3498db;
    color: #fff;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
}

header #topHead {
    display: grid;
    grid-template-columns: 110px auto 80px 70px;
}


header #topHead h1 {
        text-align: left;
        font-size: 1.5em;
        text-shadow: 0 0 15px #95070747;
        color: antiquewhite;
        grid-column: 2 / 4;
        grid-row: 1 / 4;
}

header h1 {
    text-shadow: 0 0 15px #95070747;
    color: antiquewhite;
}

header p {
    text-shadow: 0 0 15px #95070747;
    color: antiquewhite;
}

#logo img {
    margin: 5px 20px 5px 5px;
    height: 50px;
}

#topHead {
    display: grid;
    grid-template-columns: 110px auto 80px 70px;
}


#socialNetwork {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

#socialNetwork img {
    padding: 5px;
    height: 25px;
    transition: .5s;
}
#socialNetwork img:hover {
    height: 29px;
}
/*----------- NAVIGATION --------------*/

#primaryNav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#primaryNav li {
    margin: 10px;
}


nav {
    font-size: 1.2em;
    margin-top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav #hamburgerBtn {
    display: none;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: .8rem 2vw;
    text-decoration: none;
    text-shadow: 0 0 15px #95070747;
    color: antiquewhite;
    transition: .5s;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
    background-color:#95070731;
    color: #000000;
    transform: scale(1.2);
}

/*----------- BANNER --------------*/
#banner {
    text-align: center;
    margin-top: 20px;
}

#banner img {
    width: 100%;
}

/*----------- BODY --------------*/

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/*----------- MAIN --------------*/

main {
    margin: 20px;
}

.site-purpose,
.scenarios,
.color-schema,
.typography,
.wireframe {
    margin-bottom: 40px;
}

.color-schema p,
.typography p {
    margin: 10px 0;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #2ecc71;
    color: #fff;
    text-align: center;
    padding: 10px;
}


}


